</main>
<footer>
    KK - Bajai SZC Türr István Technikum (Börtön) - Tarr Gabesz és Csávolyi(Csanádi) Kevin
</footer>
</div>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/chart.js"></script>


</body>
</html>